/* light scheme */
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #191919;
    --md-accent-fg-color: #0b66ff;
  }
  
  /* dark scheme */
  [data-md-color-scheme="slate"] {
    --md-primary-fg-color: #191919;
    --md-accent-fg-color: #0b66ff;
  }
